<%- include('../partials/header') %> <%-
include('../partials/header-close.ejs')%>

<h1>
    <%= blog.title %>
</h1>
<hr />
<p>
    <%= blog.content %>
</p>
<% if(blog.comments) {%>
<hr />
<h3>Comments</h3>
<hr />
<ul>
    <% blog.comments.forEach((comment)=>{ %>
    <li>
        <strong><%=comment.author%></strong>
        <ul>
            <li><%=comment.content%></li>
        </ul>
    </li>
    <% }) %>
</ul>
<%}%>
<a class="btn btn-success" href="/blogs/<%= blog._id %>/comments/new"
    >Add a comment</a
>
<%- include('../partials/footer') %>
