<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<%- include('./partials/header-close.ejs') %>
<div class="jumbotron d-flex justify-content-center align-items-center">
    <h1>
        Welcome To Blogify
    </h1>
</div>

<div class="container">
    <div class="row">
        <% data.forEach((item)=>{ %>
        <div class="col-4" style="margin-bottom: 10px;">
            <div class="card">
                <img src="<%= item.image %> " class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/blogs/<%= item._id %>"><%= item.title %></a>
                    </h5>
                    <p class="card-text">
                        <%= item.content.substring(0,150) %>...
                    </p>
                    <a
                        href="/blogs/<%= item._id %>"
                        class="btn btn-small btn-primary"
                        >Read More</a
                    >
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer.ejs') %>
