<%- include('partials/header.ejs') %>

<h1>
	This is the Home Page
</h1>

<ul>
	<% data.forEach((item)=>{ %>
		<li>
			<h3>
				<a href='/blogs/<%= item._id %>' ><%= item.title %></a>
			</h3>
			<ul>
				<li>
					<%= item.content %>
				</li>
			</ul>
		</li>
	<% }) %>	
</ul>

<%- include('partials/footer.ejs') %>
