<%- include('partials/header') %>
<%- include('./partials/header-close.ejs') %>

<h1>
	This is the Index File
</h1>

<ul>
	<% data.forEach((item)=>{ %>
		<li>
			<h3>
				<%= item.title %>
			</h3>
			<ul>
				<li>
					<%= item.content %>
				</li>
			</ul>
		</li>
	<% }) %>	
</ul>

<%- include('partials/footer.ejs') %>
